
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  border: solid green 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
}