@use 'sass:list';
@use 'sass:map';
$css-vars: ();
$css-vars-use-native: false !default;

@function var($args...) {
  // CHECK PARAMS
  @if length($args) == 0 {
    @error 'Variable name is expected to be passed to the var() function';
  }

  @if str-length(nth($args, 1)) < 2 or str-slice(nth($args, 1), 0, 2) != '--' {
    @error "Variable name is expected to start from '--'";
  }

  // PROCESS
  $var-name: list.nth($args, 1);
  $var-value: map.get($css-vars, $var-name);

  @if $css-vars-use-native {
    // CSS variables
    // Native CSS: don't process function in case of native
    @return unquote('var(' + $args + ')');
  } @else {
    @if not $var-value {
      // variable is not provided so far
      @if length($args) == 2 {
        $var-value: list.nth($args, 2);
      }
    }

    // Sass: return value from the map
    @return $var-value;
  }
}